@font-face {
   font-family: sansaction;
   src: url(sansation_light.woff);
}
body {
   font-family: sansaction;
   text-align: center;
   margin: 0px;
   background: #aaffaa;
   color: #224422;
}
#header {
   text-align: center;
   background: linear-gradient(black, green, #aaffaa);
   background-repeat: no-repeat;
}
#main {
   background: linear-gradient(to right, #447744, #224422, #447744);
   color: #aaffaa;
}
#main a {
   color: #ccffcc;
   text-decoration: none;
}
#main a:hover {
   color: #ccffcc;
   text-decoration: underline;
}
#github {
   background: linear-gradient(to right, #774477, #442244, #774477);
   color: #ffaaff;
}
#github a {
   color: #ffccff;
   text-decoration: none;
}
#github a:hover {
   color: #ffccff;
   text-decoration: underline;
}
#twitter {
   background: linear-gradient(to right, #446688, #335566, #446688);
   color: #aaddff;
}
#twitter a {
   color: #cce8ff;
   text-decoration: none;
}
#twitter a:hover {
   color: #cce8ff;
   text-decoration: underline;
}
#navbar {
   background: linear-gradient(to right, #446688, #335566, #446688);
   color: #aaddff;
}
#navbar a {
   color: #cce8ff;
   text-decoration: none;
}
#navbar a:hover {
   color: #cce8ff;
   text-decoration: underline;
}
.content {
   text-align: left;
   margin-left: 20%;
   margin-right: 20%
}

#request {
   background: linear-gradient(to right, #777744, #444422, #777744);
   color: #ffffaa;
}
#request a {
   color: #ffffcc;
   text-decoration: none;
}
#request a:hover {
   color: #ffffcc;
   text-decoration: underline;
}
li {
    display: inline;
}
ul {
    background-color: #308014;
}
